body{
    background-image: url("./pictures/backgroundfinal.png");
    background-repeat: no-repeat;
    background-size: 1500px 500px;
    transition: 0.3s;
}

.spacer{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.scheduleTitle{
    padding-top: 0px;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}


.calenderimg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.placetoschedulefortitle{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

.localist button{
    border-color: transparent;
    background-color: transparent;
    font-size: 25px;
}

.localist button:hover{
    background-color: rgba(225,225,225, .3);
}

.localist textarea{
    
    resize: none;
    border-color: transparent;
    height: 13px;
    width: 50px;
    
}

.pagescroll {

    text-align: center;

}


.localist{
    display: block;
}

.globallist button{
    border-color: transparent;
    background-color: transparent;
    font-size: 25px;
}

.globallist button:hover{
    background-color: rgba(225,225,225, .3);
}

.globallist textarea{
  
    resize: none;
    border-color: transparent;
    height: 13px;
    width: 50px;
  
}

.globalist{
    display: block;
}

.listcontainer{

    height: 99%;
    width: 99%;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.mycleanups button{
  border-color: transparent;
  background-color: transparent;
  font-size: 25px;
}

.mycleanups button:hover{
  background-color: rgba(225,225,225, .3);
}

.mycleanups textarea{
  
  resize: none;
  border-color: transparent;
  height: 13px;
  width: 50px;
  
}

.mycleanups{
  display: block;
}

.invis button{
  border-color: transparent;
  background-color: transparent;
  font-size: 25px;
  width: 53px;
}

.invis textarea{
  
  resize: none;
  border-color: transparent;
  height: 13px;
  width: 50px;
  
  
}

.invis{
  display: block;
  color: transparent;
}


/*SIDEBAR CODE*/


.openbtn{

    height: 110px; 
    width: 110px;
    position: fixed;
    background-color: transparent; 
    border-color: transparent; 
    font-size: 50px;
    transition: 0.3s;
    
}

/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .3); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  
  .openbtn:hover {
    background-color: rgba(205,205,205, .3);
    
  }

  /*Note: add transition: 0.3s; to the body */
  